* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f3f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 40px 0 10px;
  font-size: 28px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab {
  background-color: #e0e0e0;
  color: #555;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 4px;
  border-radius: 5px 5px 0 0;
  transition: all 0.2s;
}

.tab:hover {
  background-color: #d0d0d0;
}

.tab.active {
  background-color: #fac9da; /* roz deschis */
  color: #222;
  font-weight: bold;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid transparent;
  z-index: 2;
  position: relative;
}



.tab-content {
  display: none;
  background: #ffffff;
  border: 1px solid #ccc;
  border-top: none;
  padding: 30px 40px;
  width: 100%;
  max-width: 600px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

input, select, textarea, button {
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

input:focus, select:focus, textarea:focus {
  border-color: #fac9da;
  outline: none;
}

button {
  background-color: #fac9da;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #fac9da;
}

pre {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 6px;
  white-space: pre-wrap;
  margin-top: 15px;
}

svg {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
